/* h1 {
        font-size: 100px;
        color: blue;
        background-color: yellow;
    }

    .border {
      border: 4px solid black;
    }
    
    p {
      text-emphasis: circle red;
      font-stretch: ultra-condensed;
    }

    body {
  background-color: lightblue;
    }